body {
	padding: 0;
	margin: 0;
	text-align: center;
	background: #EEE url('http://subtlepatterns.com/patterns/random_grey_variations.png') repeat;
}

#video {
	-webkit-transform: scale(-1.5,1.5);
	transform: scale(-1.5,1.5);
	border: 5px solid;
	border-color: rgba(0,0,0,.2) rgba(0,0,0,.3);
	max-width: 100%;
}